@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', Light;
}

body {
    background-color: #FFEFEF;
}


/* hlavička */
header {
    text-align: center;
    margin-bottom: 5%;
}

header p {
    margin: 0 32%;
}


/* MAIN */
main {
    background-color: #FFFFFF;
    margin: 0 100px;
    padding: 5%;
}

/* úvod */
.uvod {
    text-align: center;
}

.uvod p {
    margin: 0 25% 5% 25%;
}


/* úvodní obrázky */
.uvodni-obrazky {
    display: flex;
    margin-bottom: 3%;
    justify-content: space-between;
}
.uvodni-obrazky img{
    width: 31%;
    margin: 5px;
}


/* část o nás */
.o-nas{
    display: block;
    justify-content: space-between;
    margin-bottom: 5%;
}

.o-nas .cast{
    display: inline-flex;
    width: 45%;
    margin: 0 2%;
}


/* detail jídla */
.detail-jidla {
    display: inline-flex;
    padding: 2% 10%;

}

.detail-jidla img {
    width: 270px;
    height: auto;
    margin: 0 5%;
}

.detail-jidla .vlevo{
    text-align: right;
}

.popis-jidla {
    margin: 0 2%;
    padding: 0 5%;
}



.detail-jidla button{
    background-color: #FFEFEF;
    padding: 2%;
}

.detail-jidla a{
    background-color: #FFEFEF;
    padding: 2%;
}

.detail-jidla button :hover {
    background-color: #dccaca;
}


/* patička */
footer {
    margin: 2% 20%;
    text-align: center;
    font-size: 12px;
}